aiodns >= 3.0.0 
aiohttp >= 3.8.4 
aiosignal >= 1.3.1 
async-timeout >= 4.0.2 
ccxt >= 4.0.14 
certifi >= 2023.5.7 
cffi >= 1.15.1 
charset-normalizer >= 3.2.0 
cryptography >= 41.0.1 
frozenlist >= 1.3.3 
idna >= 3.4 
multidict >= 6.0.4 
pycares >= 4.3.0 
pycparser >= 2.21 
pymysql >= 1.1.0
requests >= 2.31.0 
# See: https://stackoverflow.com/questions/76414514/cannot-import-name-default-ciphers-from-urllib3-util-ssl-on-aws-lambda-us
urllib3 < 2
yarl >= 1.9.2
